*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilits */

.conteiner{
    width: 75%;
    margin: 50px auto;
    text-align: left;
}

body{
    background-color: #f6f8f9e1;
}
/* Header */

header{
    height: 100px;
    background-color: white;
}

h1{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.titolo_logo{
    padding: 20px;
}

.dimension_logo{
   width: 50px;
}

/* fine Header */

/* inizio Main */

.pulsanti{
    background-color: white;
    height: 70px;
}

button{
    display: inline-block;
    padding: 5px;
    border: solid;
    width: 100px;
    border-radius: 5px;
}

.blue_button{
    background-color: #47adf1;
    color: white;
}

.white_button{
    color: gray;
    background-color: white;
    border:solid 1px;
}